/*'https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap*/

@import url('./assets/fonts/static/Dosis-Regular.ttf');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;600;700&display=swap');

html{scroll-behavior: smooth;}

body {
    font-family: 'Mukta', sans-serif; /*Dosis*/
}

a {text-decoration: none;}


/*-------------------------------------------------
#NAV Section
---------------------------------------------------*/
.nav-item{
    font-weight: 700;
    font-size: 1.1em;
}

.nav-link
{
}

/*-------------------------------------------------
#Hero Section
---------------------------------------------------*/

#hero {
    width: 100%;
    height: 70vh;
    background: #37517e;
    margin-top: 125px;;
}
.hero-nomargin{   
    margin-top: 70px !important;
}

#hero h1 {
    font-size: 45px;
    color: #e7edf1;
    font-weight: 700;
}

#hero h2 {
    color: #ffffff99;
    margin-bottom: 50px;
    font-size: 24px;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    width: 65%;
}

@media (max-width: 991px) {
    #hero {
        height: 100vh;
        text-align: center;
    }
    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
    #hero .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
    #hero .btn-watch-video {
        font-size: 16px;
        padding: 10px 0 8px 40px;
        margin-left: 20px;
    }
    #hero .btn-watch-video i {
        font-size: 32px;
        top: 7px;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}



.logo {
    width:50%; 
    transition: width .2s linear;}


/*-------------------------------------------------
#About Section
---------------------------------------------------*/
#about{
    width: 100%;
    background: #f5f0e9;
    padding: 70px 25px 100px 25px;
    scroll-margin-top: 100px;
}

#about h1{
    font-size: 35px;
    font-weight: 700;
    color: #37517e;
    margin-bottom: 30px;
}

#about h3{   
    color: #37517e;
    font-weight: bold;
}

#about p{
    
}

#about img{
    max-width: 100%;
    border: solid 7px #fff;
}
/* 
@media (max-width: 991px) {
    #about img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    #about img {
        width: 90%;
    }
}

@media (max-width: 575px) {
    #about img {
        width: 100%;
    }
} */


/*-------------------------------------------------
#Services Section
---------------------------------------------------*/
#services{
    width: 100%;
    padding: 70px 25px 100px 25px;
}

#services h1{
    font-size: 35px;
    font-weight: 700;
    color: #37517e;
}

#services .scard h3{
    color: #37517e;
    padding-top: 20px;
    font-weight: bold;
}

#services .scard .desc{
    text-align: justify;
    width: 75%;
    margin: 0 auto;
}

@media (max-width: 690px){
    #services .scard .desc{
        text-align: center;
        width: 100%;
    }
}

/*--------------------------------------------------------------
# Products
--------------------------------------------------------------*/

#products{
    background-color: #37517e;
    padding: 50px;
}

.product-card img{
    width: 70%;
    margin: 0 auto;
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/

#projects {
    background-color: #f9fafe;
    padding: 100px;
}



#projects h3{
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 700;
    color: #37517e;
}

.card-container {
    text-align: center;
}

.card-icon {
    position: relative;
    width: 90px;
    height: 90px;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-left: auto;
    border-radius: 50%;
    background-color: #ebeded;
    text-align: center;
}
.card-icon i{
    position: absolute;
    font-size: 45pt;
    color: #4680bd;
}

/*--------------------------------------------------------------
# Tech
--------------------------------------------------------------*/
#tech{
    width: 100%;
    background: #f5f0e9;
    padding: 70px 25px 100px 25px;
}

#tech h1{
    font-size: 35px;
    font-weight: 700;
    color: #37517e;
}

#tech img{
    width: 145px;
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    width: 100%;
    font-size: 14px;
    background: #37517e;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
    border-top: 2px solid #b1bbcf;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    font-size: 17px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    color: #37517e;
}


.opa{
    /* opacity: 0.9; */
    /* background: #d3d3d3 !important; */
}
.opa img {
    width:20%;
    transition: width .2s linear;
    transition: all 0.2s linear;
}